{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": [
    "react-app"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  }
}
